<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bank App</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" 
  crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <h1>
                <span></span>
            </h1>
            <nav class="navbar mt-2">
                {{#if logged_in}}
                <a href="/" class="navbar-item pt-1">Home</a>
                <a href="/account/" class="navbar-item pt-1">Accounts</a>
                <a href="/user/" class="navbar-item pt-1">Profile settings</a>
                <button id="logout" class="button">Log-Out</button>
                {{else}}
                <a href="/" class="navbar-item pt-1">Home</a>
                <a href="/login/">Log-In</a>
                <a href="/signup/">Sign-Up</a>
                {{/if}}
            </nav>
        </header>
        <main class="container container-fluid mt-5">
            {{{ body }}}
        </main>
        <footer>

        </footer>
    </div>

    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>

</html>
