<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Bank X-press</title>
  </head>


  {{#if logged_in}}
    <header>
      <nav>
          <div>
            <a href="/" class="navbar-item pt-1">Home</a>
            <a href="/account/" class="navbar-item pt-1">Accounts</a>
            <a href="/user/" class="navbar-item pt-1">Profile settings</a>
            <a href="/createaccount/" class="navbar-item pt-1">Create Account</a>
          </div>
      </nav>
    </header>
    <button id="logout" class="button">Log-Out</button>
  {{else}}

    {{!-- nav bar stuff --}}
      <header>
        <nav>
            <a href="/signup/" id="second" class="test">Sign Up</a>
            <a href="/login/" id="first" class="test">Login</a>
          </ul>
        </nav>
      </header>
     
  {{/if}}

  {{{body}}}

  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/main.js"></script>

</html>