<section class="container">
    <section class="account">
        {{#each accounts as |account|}}
        <a href="/account/{{account.id}}">
            <h3>{{account.account_type}}</h3>
        </a>
        {{/each}}
    </section>
</section>  


<script src="/js/transaction.js"></script>