<section class="bg-dark text-center">
    <section class="account-card bg-dark">
        {{#each accounts as |account|}}
        <a href="/account/{{account.id}}" class="text-white">
            <h3>{{account.account_type}}</h3>
        </a>
        {{/each}}
    </section>
</section>  
