<div class="column">
    <h2 class="title pb-4">Create Bank Account</h2>
    <form class="signup-form">
        <div>
            <label for="account-type">Account Type:</label>
            <input type="text" id="account-type" />
        </div>
        <div>
            <label for="balance-signup">Initial Deposit:</label>
            <input type="text" id="inital-deposit" />
        </div>
        <div>
            <label for="pin-signup">Pin:</label>
            <input type="text" id="pin" />
        </div>
    </form>
</div>

<script src="/js/account.js"></script>