<div class="column bg-secondary text-white font-weight-bold text-center">
    <h2 class="title pb-4">Create Bank Account</h2>
    <form class="signup-form">
        <div class="form-group mb-2">
            <label for="account-type">Account Type:</label>
            <input type="text" id="account-type" />
        </div>
        <div class="form-group mb-2">
            <label for="balance-signup">Initial Deposit:</label>
            <input type="text" id="initial-deposit" />
        </div>
        <div class="form-group mb-2">
            <label for="pin-signup">Pin:</label>
            <input type="text" id="pin" />
        </div>
        <div class="form-group mb-2">
            <button type="submit" class="button btn-success text-white">Create Account</button>
        </div>
    </form>
</div>

<script src="/js/account.js"></script>
