<h1 class="hr2">LuckyLucre</h1>
<div class="cardContainer">
  {{! checkings }}
  <div class="spacing">
    {{! Lucky Lucre Checkings }}
    <div class="card p-3" id="luckyCheckings">
      <div class="leftCard">
        <a href=""></a>
        <button>Apply Now</button><br>
        <button>View Details</button>
      </div>
      <div class="middleCard">
        <h3>Lucky Lucre Checkings</h3>
        <h5>No Annual Fee</h5><br>
        <h2>Enjoy $500</h4><br>
        <h5>After you make your first deposit of any amount</h5>
      </div>
      <div class="rigthCard">
        <h2>Lucky Benefits</h2><br>
        <ul>
            <li>3X Luck Points for purchases made directly at any U.S. supermarkets on up to $10,000 per year in purchases</li><br>
            <li>2X Luck Points for purchases made directly at U.S. gas stations on up to $5,000 per year in purchases</li><br>
            <li>1X Luck Points on all other eligible puchases</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacing">
    {{! Preferred Lucky Lucre Checkings }}
    <div class="card" id="prefered">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">
        <h3>Lucky Lucre Prefered Checkings</h3>
         <h2>Enjoy $500</h4><br>
        <h2>Enjoy $1,000</h2><br>
        <h5>After you make your first deposit of a minimum of $1,000</h5>
      </div>
      <div class="rigthCard">
        <h2>Lucky Benefits</h2><br>
        <ul>
            <li>Unlimited 3X Luck Points for purchases made directly at any U.S. supermarkets</li><br>
            <li>Unlimited 2X Luck Points for purchases made directly at any U.S. gas stations</li><br>
            <li>1.5X Luck Points on all other eligible purchases</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacing">
    {{! Platinum Lucky Lucre Checkings }}
    <div class="card" id="platinum">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">
        <h3>Lucky Lucre Platinum Checkings</h3>
        <h5>Annual Fee: $495</h5><br>
        <h2>Enjoy 25,000 Luck Points</h2><br>
        <h5>After you keep atleast $10,000 in your account for 3 consecutive months</h5>
      </div>
      <div class="rigthCard">
        <h2>Lucky Benefits</h2><br>
        <ul>
            <li>Unlimited 4X Luck Points for purchases made directly at any U.S. supermarket</li><br>
            <li>Unlimited 4X Luck Points for purhcases made directly at any U.S. gas stations</li><br>
            <li>2X Luck Points on all other eligible purchases</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacing">
    {{!  Platinum Reserve LuckyLucre Checkings }}
    <div class="card" id="reserved">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">
          <h3>Lucky Lucre Platinum Reserve Checkings</h3>
        <h5>Annual Fee: $995</h5><br>
        <h2>Enjoy 50,000 Luck Points</h2><br>
        <h5>After you keep atleast $50,000 in your account for 3 consecutive months and spend $25,000 in the first 6 months</h5>
      </div>
      <div class="rigthCard">
        <h2>Lucky Benefits</h2><br>
        <ul>
            <li>Unlimited 5X luck Points for purchases made directly at any U.S. supermarkets</li><br>
            <li>Unlimited 5X Luck Points for purhcases made directly at any U.S. gas stations</li><br>
            <li>4X Luck Points on all other eligible purchases</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacing">
    {{! LuckyLucre Black Checkings }}
    <div class="card" id="black">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">
          <h3>Lucky Lucre Black Checkings</h3>
          <h5>Initiaion Fee: $250,000</h5>
        <h5>Annual Fee: $100,000</h5><br>
        <h2>Enjoy 1,000,000 Luck Points</h2><br>
        <h5>After you deposit $1,000,000 in your account and spend $500,000 in the first 6 months</h5>
      </div>
      <div class="rigthCard">
        <h2>Lucky Benefits</h2><br>
        <ul>
            <li>Unlimited 10X Luck Points on flights booked directly with airlines</li><br>
            <li>Access to Triumphant Lounge at all major airlines</li><br>
            <li>Unlimited 5X Luck points on all other eligible purchases</li>
        </ul>
      </div>
    </div>
  </div>
  {{! savings }}
  <div class="spacing">
    {{! Lucky Lucre Savings }}
    <div class="card" id="luckySavings">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">

      </div>
      <div class="rigthCard">

      </div>
    </div>
  </div>
  <div class="spacing">
    {{! Preferred Lucky Lucre Savings }}
    <div class="card" id="preferedSavings">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">

      </div>
      <div class="rigthCard">

      </div>
    </div>
  </div>
  <div class="spacing">
    {{! Platinum Lucky Lucre Savings }}
    <div class="card" id="platinumSavings">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">

      </div>
      <div class="rigthCard">

      </div>
    </div>
  </div>
  <div class="spacing">
    {{!  Platinum Reserve LuckyLucre Savings }}
    <div class="card" id="reservedSavings">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">

      </div>
      <div class="rigthCard">

      </div>
    </div>
  </div>
  <div class="spacing">
    {{! LuckyLucre Black Savings }}
    <div class="card" id="blackSavings">
      <div class="leftCard">
        <a href=""></a>
      </div>
      <div class="middleCard">

      </div>
      <div class="rigthCard">

      </div>
    </div>
  </div>
</div>

{{!-- <div class="column">
  <h2 class="title pb-4">Create Bank Account</h2>
  <form class="signup-form">
    <div>
      <label for="account-type">Account Type:</label>
      <input type="text" id="account-type" />
    </div>
    <div>
      <label for="balance-signup">Initial Deposit:</label>
      <input type="text" id="initial-deposit" />
    </div>
    <div>
      <label for="pin-signup">Pin:</label>
      <input type="text" id="pin" />
    </div>
    <div>
      <button type="submit" class="button">Create Account</button>
    </div>
  </form>
</div>

<script src="/js/account.js"></script> --}}