
        <div class="bg-secondary text-white font-weight-bold text-center">
          <div id="container" class="container bg-dark p-2">
            <h1 class="">Bank X-press</h1> 
            <div>
              <h3>Try the withdrawal plugin</h3>
              <p>Deposit coming soon (maybe)</p>
            </div>
          
          </div>
        <br> <br> <br> <br>
          <div id="container" class="container bg-dark">
            <h2>Simple Javascript Project</h2>
            <p>This is a full stack mock-bank application</p>
            <p>REST API demonstration</p>
          </div>

        </div>
      
   