
<a href="/">
  <img
    class="loginlogo"
    src="/Assets/luckylucrecondensed.png"
    alt="luckylucrelogo"
  /></a>

<div class="container" id="loginContainer">
  <h2 class="loginh2">Log In</h2>
  <form class="login-form">
    <div class="parents-elm">
      <span class="inputBox">
        <input type="text" class="inputText" id="email-login" />
      </span>
      <span class="floating-label">Email Address</span>
    </div>
    <div class="parents-elm">
      <span class="inputBox">
        <input type="text" class="inputText" id="password-login" />
      </span>
      <span class="floating-label">Password</span>
    </div>

    <button type="submit" class="loginButton" id="login">
      <div class="center-con">
        <div class="round">
          <span class="arrow"></span>
          <span class="arrow"></span>
          <span class="arrow"></span>
          <span class="arrow"></span>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>
