<div class="column">
    <h2 class="title pb-4">LogIn:</h2>
    <form class="login-form">
        <div>
            <label for="email-login">E-mail:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit" class="button">Log In.</button>
        </div>
    </form>
</div>

<script src="/js/login.js"
