<div class="column bg-dark text-white font-weight-bold text-center">
    <h2 class="title pb-4"> Create New Account</h2>
    <form class="signup-form">
        <div class="form-group mb-2">
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div class="form-group mb-2">
            <label for="name-signup">Name:</label>
            <input type="text" id="name-signup" />
        </div>
        <div class="form-group mb-2 px-2">
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div class="form-group mb-2">
            <label for="user-type">User Type:</label>
            <input type="text" id="user-type" />
        </div>
        <div class="form-group mb-2">
            <button type="submit" class="button btn-danger text-white">Sign-Up</button>
        </div>
    </form>
</div>

<script src="/js/signUp.js"></script>
