<div class="column">
    <h2 class="title pb-4"> Create New Account</h2>
    <form class="signup-form">
        <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="name-signup">Email:</label>
            <input type="text" id="name-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit" class="button">Sign-Up</button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>
