<section class="col-1">
    <section class="account-card text-white">
        <div class="card-header">
            <h3>{{account.account_type}}</h3>
            <h2>{{account.balance}}</h2>
        </div>
        <div>
            <a href="/transaction/{{account.id}}">
                <h3>Transactions</h3>
            </a>
        </div>
    </section>
</section>
