<section class="col-1">
    <section class="account-card text-white">
        <div class="card-header">
            <h3>{{account.account_type}}</h3>
            <h2>{{account.balance}}</h2>
        </div>
        <div class="transaction-card-body">
            <h4>{{transaction.type}}</h4>
            <h6>{{transaction.amount}}</h6>
        </div>
    </section>
</section>