<section class="container text-white">
    <section class="transaction">
        {{#each transactions as |transaction|}}
            <h3>{{transaction.type}}</h3>
            <h5>{{transaction.amount}}</h5>
        {{/each}}
    </section>
</section>

<script src="/js/transaction.js"></script>
