
<section class="column bg-secondary">
    <section class="transaction bg-secondary">
        {{#each transactions as |transaction|}}
            <div class="card-body bg-secondary text-white font-weight-bold text-center">
                <h3>{{transaction.type}}</h3>
                <h5>{{transaction.amount}}</h5>
                <h6>{{transaction.date}}</h6>
            </div>
        {{/each}}
    </section>
</section>
