<section class="container">
    <section class="transaction">
        <a href="transaction/{{id}}">
            <h3>{{type}}</h3>
            <h5>{{amount}}</h5>
        </a>
    </section>
</section>