<div class="col-2">
    <div class="container">
        <div class="user-card">
            <h3 id="userId">{{user.id}}</h3>
            <h3>{{user.email}}</h3>
            <h3>{{user.name}}</h3>
        </div>
    </div>
    <h2 class="title pb-4"> Edit Your Information:</h2>
    <form class="edit-form">
        <div>
            <label for="email-edit">New Email:</label>
            <input type="text" id="email-edit" />
        </div>
        <div>
            <label for="name-edit">New Name:</label>
            <input type="text" id="name-edit" />
        </div>
        <div>
            <label for="password-edit">New Password:</label>
            <input type="password" id="password-edit" />
        </div>
        <div>
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
</div>

<script src="/js/editUser.js"></script>
