html {
  height: 100%;
}
* {
  font-family: "lato", sans-serif;
}
/* gradient. still kinda tinkering with it to find the perfect combo ig xd */
body {
  height: 100%;
  background: gray;
  background-image: linear-gradient(
    to right top,

    #18100d,
    #120b0a,
    #0a0606,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #000000,
    #0a0606,
    #120b0a,
    #18100d,
    #201910,
    #242314,
    #212e1d,
    #17392d
  );
}

/* drop down menu */
.container {
  display: inline-block;
  cursor: pointer;
  max-width: 39px;
  max-height: 39px;
  margin: 11px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.dropdown-content {
  display: none;
  display: block;
}
.dropdown-content a {
  color: white;
  font-size: bold;
}
.dropdown-content a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

/* login and sign up button styling */

#first {
  color: white;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
#first:hover {
  color: black;
  background-color: #7af576;
  cursor: pointer;
  transform: scale(1.1);
}
#second {
  background-color: white;
  border-radius: 10px;
  color: black;
  margin-right: 35px;
  transition: all 0.2s ease-in-out;
}
#second:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#topLogo {
  max-width: 180px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* anchor tag login and sign up */
/* jumbo tron kind of section  */
.logo {
  float: right;
  margin: 15px;
  margin-right: 25px;
  max-width: 75%;
  opacity: .25;
  border-radius: 80px;
}

.test {
  color: #7af576;
  list-style-type: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;
  float: right;
  margin-top: 1.5%;
}

.test:hover {
  color: black;
  background-color: #7af576;
}
#welcomeBox {
  float: right;
  margin: 25px;
  text-align: center;
  display: block;
  background-color: black;
  color: #7af576;
  justify-content: center;
  display: flex;
  opacity: 0.8;
}
button {
  color: black;
  background-color: #7af576;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 5px;
}
#jumbo {
  color: white;
  flex-wrap: wrap;
  margin: 20px;
  margin-left: 50px;
}
.offer {
  font-size: 350px;
  color: #7af576;
}
.enjoy {
  font-size: 60px;
}
.promo p {
  font-size: 23px;
  opacity: .5;
}
.promo h3 {
  font-size: 60px;
}
.green {
  color: #7af576;
}
.start {
  background-color: #7af576;
  padding-left: 325px;
  padding-right: 325px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

/* line */
.hr1 {
  margin-top: 100px;
  overflow: hidden;
  text-align: center;
}
.hr1::before,
.hr1::after {
  background-color: grey;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.hr1::before {
  right: .5em;
  margin-left: -50%;
}
.hr1::after {
  left: .5em;
  margin-right: -50%;
}
/* information */
#infoportion {
  margin-top: 100px;
  text-align: center;
}

.secure {
  color: #7af576;
  font-size: 25px;
  opacity: .8;
}

.slogan {
  color: white;
  font-size: 50px;
}
.zelle {
  color: white;
  opacity: 0.45;
}
.invite {
  font-size: 9px;
  color: white;
  opacity: .45;
}
